homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: 1.367841
  longitude: 103.953564
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 0
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Asia/Singapore
  # Customization file
  customize: !include customize.yaml

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
# http:
#   base_url: example.duckdns.org:8123

# Discover some devices automatically
discovery:

# Updater component
updater:

http:
  ssl_certificate: /home/homeassistant/dehydrated/certs/mahhome.duckdns.org/fullchain.pem
  ssl_key: /home/homeassistant/dehydrated/certs/mahhome.duckdns.org/privkey.pem
  base_url: mahhome.duckdns.org:8123

api:

ios:

# Text to speech
tts:
  - platform: google_translate

# recorder for history
recorder:
  include:
    entities:
      - sensor.battery_iphone
      - sensor.battery_ipad
      - sensor.laptop_battery
      - sensor.caleb_sipad_battery_status
      - sensor.caleb_sipad_badge
      - sensor.caleb_siphone_battery_status
      - sensor.caleb_siphone_badge
      - sensor.yr_symbol
      - sensor.time_to_home
      - sensor.time_to_school
      - sensor.time_to_work
  exclude:
    entities:
      - sensor.caleb_sipad_altitude
      - sensor.caleb_sipad_battery
      - sensor.caleb_sipad_calc_distance
      - sensor.caleb_sipad_dir_of_travel
      - sensor.caleb_sipad_distance
      - sensor.caleb_sipad_gps_accuracy
      - sensor.caleb_sipad_info
      - sensor.caleb_sipad_interval
      - sensor.caleb_sipad_last_located
      - sensor.caleb_sipad_last_update
      - sensor.caleb_sipad_last_zone
      - sensor.caleb_sipad_last_zone_name1
      - sensor.caleb_sipad_last_zone_name2
      - sensor.caleb_sipad_last_zone_name3
      - sensor.caleb_sipad_next_update
      - sensor.caleb_sipad_poll_count
      - sensor.caleb_sipad_speed
      - sensor.caleb_sipad_travel_distance
      - sensor.caleb_sipad_travel_time
      - sensor.caleb_sipad_trigger
      - sensor.caleb_sipad_waze_distance
      - sensor.caleb_sipad_zone
      - sensor.caleb_sipad_zone_name1
      - sensor.caleb_sipad_zone_name2
      - sensor.caleb_sipad_zone_name3
      - sensor.caleb_sipad_zone_timestamp
      - sensor.caleb_s_iphone_battery_level
      - sensor.caleb_s_iphone_battery_state
      - sensor.caleb_siphone_altitude
      - sensor.caleb_siphone_battery
      - sensor.caleb_siphone_calc_distance
      - sensor.caleb_siphone_dir_of_travel
      - sensor.caleb_siphone_distance
      - sensor.caleb_siphone_gps_accuracy
      - sensor.caleb_siphone_info
      - sensor.caleb_siphone_interval
      - sensor.caleb_siphone_last_located
      - sensor.caleb_siphone_last_update
      - sensor.caleb_siphone_last_zone
      - sensor.caleb_siphone_last_zone_name1
      - sensor.caleb_siphone_last_zone_name2
      - sensor.caleb_siphone_last_zone_name3
      - sensor.caleb_siphone_next_update
      - sensor.caleb_siphone_poll_count
      - sensor.caleb_siphone_speed
      - sensor.caleb_siphone_travel_distance
      - sensor.caleb_siphone_travel_time
      - sensor.caleb_siphone_trigger
      - sensor.caleb_siphone_waze_distance
      - sensor.caleb_siphone_zone
      - sensor.caleb_siphone_zone_name1
      - sensor.caleb_siphone_zone_name2
      - sensor.caleb_siphone_zone_name3
      - sensor.caleb_siphone_zone_timestamp
      - sensor.yeowbengsiphone_altitude
      - sensor.yeowbengsiphone_battery
      - sensor.yeowbengsiphone_calc_distance
      - sensor.yeowbengsiphone_dir_of_travel
      - sensor.yeowbengsiphone_distance
      - sensor.yeowbengsiphone_gps_accuracy
      - sensor.yeowbengsiphone_info
      - sensor.yeowbengsiphone_interval
      - sensor.yeowbengsiphone_last_located
      - sensor.yeowbengsiphone_last_update
      - sensor.yeowbengsiphone_last_zone
      - sensor.yeowbengsiphone_last_zone_name1
      - sensor.yeowbengsiphone_last_zone_name2
      - sensor.yeowbengsiphone_last_zone_name3
      - sensor.yeowbengsiphone_next_update
      - sensor.yeowbengsiphone_poll_count
      - sensor.yeowbengsiphone_speed
      - sensor.yeowbengsiphone_travel_distance
      - sensor.yeowbengsiphone_travel_time
      - sensor.yeowbengsiphone_trigger
      - sensor.yeowbengsiphone_waze_distance
      - sensor.yeowbengsiphone_zone
      - sensor.yeowbengsiphone_zone_name1
      - sensor.yeowbengsiphone_zone_name2
      - sensor.yeowbengsiphone_zone_name3
      - sensor.yeowbengsiphone_zone_timestamp
    domains:
      - automation
      - weblink
      - group
      - persistent_notification
      - sensor

tuya:
  username: !secret tuya_username
  password: !secret tuya_password
  country_code: 65
  platform: smart_life

device_tracker:
  - platform: icloud3
    username: !secret icloud_username 
    password: !secret icloud_password
    account_name: caleb_icloud
    include_device_types:
      - iphone
      - ipad
    inzone_interval: 60
    unit_of_measurement: km
    distance_method: calc
    sensor_badge_picture:
    - caleb_siphone @ /local/Caleb.jpg
    - yeowbengsiphone @ /local/dad.jpg

# Sensors
sensor:
  # Weather prediction
  - platform: yr
  - platform: template
    sensors:
      battery_iphone:
        friendly_name: iPhone Battery
        unit_of_measurement: '%'
        value_template: >-
            {%- if states.device_tracker.caleb_siphone.attributes.battery %}
                {{ states.device_tracker.caleb_siphone.attributes.battery|round }}
            {% else %}
                {{ states.sensor.battery_iphone.state }}
            {%- endif %}
        device_class: battery
  - platform: template
    sensors:
      battery_ipad:
        friendly_name: iPad Battery
        unit_of_measurement: '%'
        value_template: >-
            {%- if states.device_tracker.caleb_sipad.attributes.battery %}
                {{ states.device_tracker.caleb_sipad.attributes.battery|round }}
            {% else %}
                {{ states.sensor.battery_ipad.state }}
            {%- endif %}
        device_class: battery
  - platform: google_travel_time
    api_key: !secret google_distance_api_key
    name: 'Time to home'
    origin: device_tracker.caleb_siphone
    destination: zone.home
    scan_interval: 900
    options:
      mode: 'transit'
      transit_mode: 'subway'
  - platform: google_travel_time
    api_key: !secret google_distance_api_key
    name: 'Time to school'
    origin: device_tracker.caleb_siphone
    destination: zone.hall
    scan_interval: 900
    options:
      mode: 'transit'
      transit_mode: 'subway'
  - platform: google_travel_time
    api_key: !secret google_distance_api_key
    name: 'Time to work'
    origin: device_tracker.caleb_siphone
    destination: zone.work
    scan_interval: 900
    options:
      mode: 'transit'
      transit_mode: 'subway'

switch:
  - platform: broadlink
    host: 192.168.1.203
    mac: '78:0F:77:5A:6E:9A'
    friendly_name: 'Broadlink'
    switches:
      ceiling_fan:
        friendly_name: "Ceiling Fan"
        command_on: 'shYyAAQSDwgPBw8IBBIEEgQSBBIEEg8HBBIFEgUSDwgEEg8IBBIPCA8IBKcPCAQSBBIPBwQSAAAAAAAA'
        command_off: 'sg0yABAHBRIFEhAHBRIFEhAHEAcQBwYRBRIFEgUSBRIQBwYSBRIFEhAHBRIFEQUSEAcQBwWnAAAAAAAA'
      standing_fan:
        friendly_name: "Standing Fan"
        command_on: 'JgBoAAABM5gWOhUTFhIWEhUTFhITFRYSFRMWORU7FjkVOhY6EzwWOhM8FjoVExYSExUWEhUTFhIWEhUTFjoVOhY5FjkWOhY5FToWOhUTFhIWExUSFhIUFBYSFBQWOhM8FjoUOxY6FToVAA0F'
        command_off: 'JgBoAAABM5gWOhUTFhIWEhUTFhITFRYSFRMWORU7FjkVOhY6EzwWOhM8FjoVExYSExUWEhUTFhIWEhUTFjoVOhY5FjkWOhY5FToWOhUTFhIWExUSFhIUFBYSFBQWOhM8FjoUOxY6FToVAA0F'


telegram_bot:
  - platform: polling
    api_key: !secret telegram_api_key
    allowed_chat_ids:
      - !secret chat_id_caleb

notify:
  - name: telegram
    platform: telegram
    chat_id: !secret chat_id_caleb

zone:
  - name: School
    latitude: 1.347824
    longitude: 103.681983
    radius: 750
    icon: mdi:school
  - name: Hall
    latitude: 1.354011
    longitude: 103.688020
    radius: 80
    icon: mdi:home-variant
  - name: Home
    latitude: 1.367841
    longitude: 103.953564
    radius: 60
    icon: mdi:home
  - name: White Sands
    latitude: 1.373047
    longitude: 103.949800
    radius: 110
    icon: mdi:shopping
  - name: Changi Methodist Church
    latitude: 1.391671
    longitude: 103.913571
    radius: 80
    icon: mdi:church
  - name: Work
    latitude: 1.299551
    longitude: 103.787740
    radius: 150
    icon: mdi:briefcase




group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml