homeassistant:
  # Name of the location where Home Assistant is running
  name: Hall
  # Location required to calculate the time the sun rises and sets
  latitude: 1.354011
  longitude: 103.688020
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 0
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Asia/Singapore
  # Customization file
  customize: !include customize.yaml

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Show the introduction message on startup.
introduction:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
# http:
#   base_url: example.duckdns.org:8123

# Discover some devices automatically
discovery:

# Updater component
updater:

# Text to speech
tts:
  - platform: google

# recorder for history
recorder:
  exclude:
    domains:
      - automation
      - weblink
      - group
      - persistent_notification

tuya:
  username: !secret tuya_username
  password: !secret tuya_password
  country_code: 65
  platform: smart_life

sonoff:
  username: !secret sonoff_username
  password: !secret sonoff_password
  scan_interval: 60
  grace_period: 300
  api_region: eu
  entity_prefix: True 

device_tracker:
  - platform: icloud
    username: !secret icloud_username
    password: !secret icloud_password
    gps_accuracy_threshold: 100

# Sensors
sensor:
  # Weather prediction
  - platform: yr
  - platform: template
    sensors:
      battery_iphone:
        friendly_name: iPhone Battery
        unit_of_measurement: '%'
        value_template: >-
            {%- if states.device_tracker.caleb_siphone.attributes.battery %}
                {{ states.device_tracker.caleb_siphone.attributes.battery|round }}
            {% else %}
                {{ states.sensor.battery_iphone.state }}
            {%- endif %}
        device_class: battery
  - platform: template
    sensors:
      battery_ipad:
        friendly_name: iPad Battery
        unit_of_measurement: '%'
        value_template: >-
            {%- if states.device_tracker.caleb_sipad.attributes.battery %}
                {{ states.device_tracker.caleb_sipad.attributes.battery|round }}
            {% else %}
                {{ states.sensor.battery_ipad.state }}
            {%- endif %}
        device_class: battery

telegram_bot:
  - platform: polling
    api_key: !secret telegram_api_key
    allowed_chat_ids:
      - !secret chat_id_caleb

notify:
  - name: telegram
    platform: telegram
    chat_id: !secret chat_id_caleb

ifttt:
  key: !secret ifttt_api_key

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
